<a-entity id="scene3DModel" gltfpostprocessing gltf-opaque update-sun fog="density:1.3; near:4.0;">
    <a-entity id = "model-env" environment="preset: yavapai; seed: 5; skyColor: #cbdff7; horizonColor: #d8e0ae; shadow: true; shadowSize: 25.0; lightPosition: 10 40 30; fog: 0.91; playArea: 1; ground:hills; groundYScale: 4; groundColor: #c69c7b; groundColor2: #c1a582; dressingAmount: 0; dressingUniformScale: false; grid: crosses; gridColor: #bb9977"></a-entity>
    <a-entity light="type: ambient; color: #fffcf2; intensity: 0.6; "></a-entity>
    <a-entity ui-menu-model ></a-entity>
    <a-entity id="scene-models" gltf-model="#scene-model" rotation = "0 90 0"></a-entity>
    <a-entity id="loaded-model" gltf-model="#temple-gltf" position = "0 0 -40"></a-entity>
    <a-entity id="loaded-model-opaque" gltf-model="#temple-gltf" position = "0 0 -40"></a-entity> 

</a-entity>
