<a-entity id="sceneHome">
    <!-- current environment is a placeholder, will update tree dressing meshes to look more like pines -->
    <a-entity id ="home-env" environment = "preset: forest; groundColor: #937a24; groundColor2:#987d2e; horizonColor: #f7f9b5; skyColor: #b5aa2f;dressingOnPlayArea: 0.001; dressingScale: 2; dressingAmount: 600; dressingColor: #372e13; dressingVariance:10 20 10; fog:0.9;" ></a-entity>
    <!-- <a-entity gltf-model="#scene-home" rotation="0 90 0" position="0 0 -3"></a-entity>-->
    
    <a-entity gltf-model="#scene-home-stacks" rotation="0 90 0" position="0 0 -3"></a-entity>
    <!-- <a-entity gltf-model="#scene-home-trees" rotation="0 90 0" position="0 0 -3"></a-entity> -->

    <a-entity ui-menu-home ></a-entity>
    <a-entity rain="color:#ffffff;vector:-0.1 -0.5 0;count:3000;opacity: 0.5;splash:false;width:70;dropHeight:0.1;dropRadius:0.03"></a-entity>
    <a-light id="ambient1" type="ambient" color="#4f6487" ></a-light>
    <!-- <a-entity id="home-scene-audio" sound="src:#home-audio; autoplay:true"></a-entity> -->
</entity>
